#language{
    width:20px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#318FFB), to(#06f));
    background-image: linear-gradient(to bottom, #318FFB, #06f);
}

option{
  font-size: 16px;
  font-family: "Open Sans", sans-serif !important;
}
#topfirst{
  width:100%;
  height:30px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#318FFB), to(#06f));
  background-image: linear-gradient(to bottom, #318FFB, #06f);
  border-bottom: 1px solid #5CA4FD;
  color: #fff;
  padding: 20px 20px 20px 20px;
}
.topbar{
  width:400px;
  height:10px;
  display: flex;
  align-items: center;
  
}
#empty{
  width:60%;
}
#topinput{
  width:500px;
  height: 45px;
  text-align: center;
  border: none ;
 
}
#topinput1{
  width:230px;
  height:45px;
  text-align: center;
  border: none ;
  

}
#topinput2{
  display: flex;
  width:730px;
  height: 45px;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 30px;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#318FFB), to(#06f));
  background-image: linear-gradient(to bottom, #318FFB, #06f);
  padding-left: 0px;

}
#logo img{
  width:380px;
  height:90px;
  border-radius: 90px;
  border:none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#318FFB), to(#06f));
  background-image: linear-gradient(to bottom, #318FFB, #06f);
  image-resolution: 1080px;
  
}
#topsecond{
  width:100%;
  height:30px;
  display: flex;
  padding: 60px 50px 60px 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#318FFB), to(#06f));
  background-image: linear-gradient(to bottom, #318FFB, #06f);
  border-bottom: 1px solid #5CA4FD;
  color: #fff;
  align-items: center;
  margin: auto;
  justify-content: center;
}
#top #topsecond{
  position: -webkit-sticky;
}
#signin{
  color: #fff;
  padding: 35px 20px 20px 60px;
  font-weight: bold;
  width: 100px;
  height: 100px;
}
#cart{
  color: #fff;
  padding: 35px 20px 20px 50px;
  font-weight: bold;
  width: 100px;
  height: 100px; 
}
#topthird{
  width:100%;
  height:30px;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#318FFB), to(#06f));
  background-image: linear-gradient(to bottom, #318FFB, #06f);
  border-bottom: 1px solid #5CA4FD;
  color: #fff;
  align-items: center;
  justify-content: space-evenly;
  
}
#topthird #categories{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#318FFB), to(#06f));
  background-image: linear-gradient(to bottom, #318FFB, #06f);
  color: #fff;
  font-weight: bold;
  text-align: center;

}
#categories option{
 color:black;
 font-size: 16px;
 font-family: "Open Sans", sans-serif !important;

}
#topthird a{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#318FFB), to(#06f));
  background-image: linear-gradient(to bottom, #318FFB, #06f);
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
#top{
  position: sticky;
}


    
/* // --------------------------------------------------onscrolling navbar---------------------------------------------------------- */



